:root{
    --board-size:19rem
}

.FenDisplayingBoard {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: var(--board-size);
    height: var(--board-size);
    transition: 500ms;
    animation: come_in 500ms;
}

/* Animate the color text glow */
@keyframes come_in {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}
.FenDisplayingBoard h1{
    unset:all;
}
.FenDisplayingBoard .FenDisplayingBoard-content{
    padding: 2%;
}

.FenDisplayingBoard .FenDisplayingBoard-content .FenDisplayingBoard-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 2%;
}

.FenDisplayingBoard .FenDisplayingBoard-container .FenDisplayingBoard-square {
    transition: 200ms;
}
.FenDisplayingBoard .FenDisplayingBoard-container .FenDisplayingBoard-square:hover{
    animation: text_glow 5s infinite;
    cursor: pointer;
    filter: drop-shadow(0 0 1rem var(--sec-color));
    transform: scale(1.2);
    background-color: var(--sec-color-dark);
}

.FenDisplayingBoard .FenDisplayingBoard-pieceContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FenDisplayingBoard .FenDisplayingBoard-container svg{
    width: 80%;
    height: 80%;
    text-align: center;
    stroke: black;
    stroke-width: 20px;
    stroke-linejoin: round;
}

.FenDisplayingBoard .FenDisplayingBoard-container .FenDisplayingBoard-square.black{
    background-color: var(--sec-color-dark);
}

.FenDisplayingBoard .FenDisplayingBoard-container .FenDisplayingBoard-square.white{
    background-color: var(--chessboard--white);
}

