.MatchHistory{
    display: flex;
    flex-wrap: wrap;
}
.MatchHistory--header{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: space-between;
}
.MatchHistory--header .SectionTitle{
    width: 65%;
}

.MatchHistory-colors{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
    font-family: Montserrat-Light;
}
.MatchHistory-container{
    width: 100%;
}

.MatchHistory-placeholder{
    width: 100%;
}