
*.pyc

/support/docker-files/*
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/NeoChess.iml
.idea/vcs.xml
backEnd/.idea/backEnd.iml
backEnd/.idea/inspectionProfiles/profiles_settings.xml
backEnd/.idea/misc.xml
backEnd/.idea/modules.xml
backEnd/.idea/vcs.xml
