.FindGameWidget{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.FindGameWidget .FindGameWidget-mainText{
    all:unset;
    color: var(--primary-color);
    transition: 100ms linear;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.FindGameWidget .FindGameWidget-mainText h1{
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}
.FindGameWidget .FindGameWidget-mainText h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.FindGameWidget .FindGameWidget-gameModes{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 3rem;
}

.FindGameWidget .FindGameWidget-gameModeButton{
    all:unset;
    cursor: pointer;

    width: min(10rem,40vw);
    height: min(10rem,40vw);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 0.3rem;
    position: relative;
}

.FindGameWidget .FindGameWidget-gameModeButton svg{
    width: 70%;
    height: 70%;
    color: var(--primary-color-dark);
}

.FindGameWidget .FindGameWidget-gameModeButton h1{
    margin: 0;
    font-size: 2rem;
    color: var(--primary-color-dark);
}



.FindGameWidget .FindGameWidget-gameModeButton:hover{
    transform: scale(1.02);
}


.QInfo{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.QInfo ul{
    all:unset;
    list-style: none;
    width: 100%;
}


.QInfo li span{
    color:var(--primary-color-dark);
    font-weight: normal;
}

.QInfo button{
    all:unset;
    cursor: pointer;
    color:var(--sec-color);
}

.QInfo button:before, .QInfo button:after{
    content: " | ";
}

/*resize play game text to fit screen*/
@media (max-width: 420px) {
    .FindGameWidget .FindGameWidget-mainText h1{
        font-size: 2rem;
    }
}