
.PlayGameWidget{
    height: 18rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5rem;
    flex-direction: column;
}
.PlayGameWidget-mainButton{
    all:unset;
    cursor: pointer;
    width:28rem;
    padding: 0rem 10rem;

    font-size:2rem;
    border-radius: 3rem;
    font-weight: 0;
    color: #1c534b;
    background: rgb(200,199,199);
    background: linear-gradient(90deg, rgba(200,199,199,1) 30%, rgba(254,254,254,1) 100%);
    -webkit-box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 24px 5px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background 100ms linear;
}

.GameModes-enter {
    opacity: 0;
    transform: scale(0.9);
}


.PlayGameWidget .GameModes{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.PlayGameWidget-gameModeButton{
    all:unset;
    cursor: pointer;

    padding: 0.5rem 3rem;
    margin-left: 1rem;

    font-size:1.5rem;
    font-weight: 0;
    color: #1c534b;
    background: rgb(200,199,199);
    background: linear-gradient(90deg, rgba(200,199,199,1) 30%, rgba(254,254,254,1) 100%);
    transition: background 200ms linear;
}

.GameModes-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.GameModes-exit {
    opacity: 1;
}
.GameModes-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}



.PlayGameWidget-gameModeButton:hover{
    transform: scale(1.02);

}



.QInfo{
    margin-top:1rem;
    list-style: none;
    color: var(--text-color);
}

.QInfo-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.QInfo-exit {
    opacity: 1;
}
.QInfo-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}