/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.twoFaImg {
    height: 100px !important;
    margin-top: 25px !important;
}

.registeringProgress {
    margin-right: 10px !important;
    margin-top: 25px !important;
}

.registerLoadingContainer {
    margin-top: 5px !important;
    display: inline-flex;
}

.codesContainer {
    margin: 25px;
    columns: 4 auto;
}

@media (max-width: 800px) {
    .codesContainer {
        columns: 2 auto;
    }
}
