:root{
    --textfield-bg-color: #0b0b0b;
}

.ForgotPasswordForm {
    width: 55%;
    display: flow-root !important;
}

.ForgotPasswordEntrance {
    margin-top: 25px !important;
}

.ForgotPasswordForm Button{
    all:unset;

    margin-top: 50px !important;
    padding: 0.7rem 4.5rem;

    background-color: var(--sec-color);
    color:var(--section-bg-color);
    margin-top: 1rem;
}
.ForgotPasswordForm Button:hover{
    transition:200ms;
    transform: scale(1.1);
    background-color: var(--sec-color-dark);
    color:var(--section-bg-color);
}

.ForgotPasswordForm form{
    margin-top:1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.ForgotPasswordForm .form-control{
    all:unset;
    padding: 0.7rem 1rem;
    width: 90%;

    margin-top: 0.5rem;
    color: var(--text-color);
    background-color: var(--textfield-bg-color);
    text-align: left;
    border-radius: 10rem;
}

.ForgotPasswordForm p{
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 0.4rem 0rem;
    align-self: flex-start;
}

.ForgotPasswordForm .pass-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.ForgotPasswordForm i {
    position: absolute;
    top: 38%;
    right: 10%;
}
.ForgotPasswordForm i:hover{
    color: var(--primary-color-dark);
    cursor: pointer;
}
