/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.infoContainer {
    margin-top: 25px !important;
    display: flow-root !important;
}

.twoFaImg {
    height: 100px !important;
    margin-top: 25px;
}

.registeringProgress {
    margin-right: 10px !important;
    margin-top: 18px !important;
}

.registerLoadingContainer {
    display: flex;
    margin-left: 65px;
}

:root{
    --textfield-bg-color: #0b0b0b;
}

.UserEditForm {
    width: 40%;
}

.AccountDelete {
    margin-top: 25px;
}

.AccountDeletePasswordContainer {
    width: 50%;
    margin-left: 20px;
}

.twoFaForm {
    margin-top: 25px !important;
    display: flow-root !important;
}

.UserEditButtons {
    display: grid !important;
    text-align: center !important;
}

.loginContainer {
    display: grid !important;
}

.forgotPassword {
    margin-top: 10px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.twoFaImg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.notActivatedAccountContainer {
    display: flow-root !important;
}

.UserEditForm form{
    margin-top:1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.UserEditForm h1 {
    all:unset;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: min(3em,5vw);
    animation: text_glow 5s infinite;
    color: var(--sec-color);
}

.UserEditForm .form-control{
    all:unset;
    padding: 0.7rem 1rem;
    width: 90%;

    margin-top: 0.5rem;
    color: var(--text-color);
    background-color: var(--textfield-bg-color);
    text-align: left;
    border-radius: 10rem;
}

.UserEditForm .form-check{
    color: var(--text-color);
}

.UserEditForm p{
    font-size: 0.9rem;
    color: var(--text-color);
    margin: 0.4rem 0rem;
    align-self: flex-start;
}

.UserEditForm .pass-wrapper {
    position: relative;
    width: 100%;
    display: flex;
}

.UserEditForm i {
    position: absolute;
    top: 38%;
    right: 10%;
}
.UserEditForm i:hover{
    color: var(--primary-color-dark);
    cursor: pointer;
}

.response{
    display: flex;
    flex-wrap: wrap;
    color: var(--text-color);
    height: 4rem;
    width: 100%;
    align-items: center;
}

.emailField {
    margin-top:25px !important;
}

.errorMessage {
    flex: 1 1 100%;
    margin-top: 1rem;
    color: var(--sec-color);
}

.errorMessage:before{
    content: "Operation failed: ";
    color: var(--fail-color);
    margin-right: 0.2rem;
}

.feedbackMessage:before{
    content: "Operation status: ";
    color: var(--success-color);
    margin-right: 0.2rem;
}

.errorMessage ul {
    margin: 0;
    text-align: left;
}

.UserEditForm Button{
    all:unset;

    padding: 0.7rem 4.5rem;

    background-color: var(--sec-color);
    color:var(--section-bg-color);
    margin-top: 1rem;
}
.UserEditForm Button:hover{
    transition:200ms;
    transform: scale(1.1);
    background-color: var(--sec-color-dark);
    color:var(--section-bg-color);
}

/* Animate the color text glow */
@keyframes text_glow {
    from {text-shadow: 2px 2px 15px}
    50% {text-shadow: 2px 2px 20px}
    to {text-shadow: 2px 2px 15px }
}
