:root{
    --max-board-size:800px;
    --chess-defender-max-board-size:1010px;
}

.GameContainer{
    background-color: var(--section-bg-color);
    display:flex;
    align-items: center;
    justify-content: center;
    width: min(100vw,var(--max-board-size));
}

.ChessDefenderGameContainer{
    width: min(100vw,var(--chess-defender-max-board-size));
}
