.GameButtons{
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    flex-direction: column;
    align-content: center;
}

.GameButtons button{
    all:unset;
    height: 1.5rem;
    padding: 0.7rem 3rem;
    border-radius: 0.8rem;
    background-color: var(--primary-color);
    color:var(--text-color);
    margin-top:1.5rem;
    max-width: 60%;
}
.GameButtons button:hover{
    transition:200ms;
    transform: scale(1.1);
    background-color: var( --primary-color-dark) ;
}
